.khan__buy-link {
    text-decoration: none;
    margin-left: 48px;
    line-height: 24px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    transition: opacity .3s ease;
    align-self: flex-start;
    cursor: pointer;
}
.khan__buy-link:hover {
    opacity: 0.6;
}